@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300|Fira+Sans:300,400,600,700&subset=cyrillic');
/***********************************************************************************************************************
*********** flipclock
***********************************************************************************************************************/
/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}
.flip-clock-wrapper a:hover {
  color: #fff;
}
.flip-clock-wrapper ul {
  list-style: none;
}
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table;
}
.flip-clock-wrapper.clearfix:after {
  clear: both;
}
.flip-clock-wrapper.clearfix {
  *zoom: 1;
}
/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
}
.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
}
.flip-clock-meridium a {
  color: #313333;
}
.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.flip-clock-wrapper:after {
  clear: both;
}
/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}
.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}
.flip-clock-wrapper ul li:first-child {
  z-index: 2;
}
.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important;
}
.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden;
  outline: 1px solid transparent;
}
.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0;
}
.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px;
}
.flip-clock-wrapper ul li a div.up div.inn {
  top: 0;
}
.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0;
}
/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3;
}
.flip-clock-wrapper .flip {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5;
}
.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px;
}
.flip-clock-divider:first-child {
  width: 0;
}
.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px;
}
.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: black;
  text-shadow: none;
}
.flip-clock-divider.minutes .flip-clock-label {
  right: -88px;
}
.flip-clock-divider.seconds .flip-clock-label {
  right: -91px;
}
.flip-clock-dot.top {
  top: 30px;
}
.flip-clock-dot.bottom {
  bottom: 30px;
}
@-webkit-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@-moz-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@-o-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both;
}
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
  }
}
@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg);
  }
  100% {
    -moz-transform: rotateX(0deg);
  }
}
@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg);
  }
  100% {
    -o-transform: rotateX(0deg);
  }
}
@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both;
}
@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
  }
}
@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg);
  }
  100% {
    -moz-transform: rotateX(-90deg);
  }
}
@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg);
  }
  100% {
    -o-transform: rotateX(-90deg);
  }
}
@keyframes turn2 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3;
}
/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}
/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both;
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/***********************************************************************************************************************
*********** mixes
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** general styles
***********************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}
.wrapper {
  display: block;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: #000;
  padding: 137px 0 91px;
}
@media (max-width: 1260px) {
  .wrapper {
    padding: 76px 0 91px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 76px 0 147px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding: 58px 0 147px;
  }
}
.wrapper-inner {
  display: block;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
}
.wrapper-inner:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
button {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
}
.button-red,
.button-black {
  display: block;
  width: 176px;
  height: 55px;
  line-height: 55px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  border: none;
}
@media (max-width: 480px) {
  .button-red,
  .button-black {
    width: 120px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
  }
}
.button-red {
  background: transparent url(../source/images/button-red.png) no-repeat 0 0;
  background-size: cover;
}
.button-black {
  background: transparent url(../source/images/button-black.png) no-repeat 0 0;
  background-size: cover;
}
.button-red:hover,
.button-black:hover {
  opacity: .7;
}
p {
  line-height: 1.5;
  font-size: 14px;
}
fieldset {
  display: block;
  border: none;
}
input::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
}
input::-moz-placeholder {
  color: #000;
  font-size: 14px;
}
input:-moz-placeholder {
  color: #000;
  font-size: 14px;
}
input:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
}
textarea::-moz-placeholder {
  color: #000;
  font-size: 14px;
}
textarea:-moz-placeholder {
  color: #000;
  font-size: 14px;
}
textarea:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
main {
  display: block;
  min-height: calc(100vh - 238px);
  padding: 50px 0;
  background: url(../source/images/background-main-bottom.png) no-repeat center bottom, #000 url(../source/images/background-main-top.jpg) no-repeat center top;
}
.main-page h1 {
  font-weight: 600;
  font-size: 57px;
  color: #fff;
}
@media (max-width: 768px) {
  .main-page h1 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .main-page h1 {
    font-size: 28px;
    line-height: 1;
  }
}
/***********************************************************************************************************************
*********** header
***********************************************************************************************************************/
header[role='banner'] {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
header[role='banner'] .wrapper-inner {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0 0 0;
}
header[role='banner'] .wrapper-inner:after {
  display: none;
}
@media (max-width: 1260px) {
  header[role='banner'] .wrapper-inner {
    padding: 10px 15px;
    align-items: center;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .wrapper-inner {
    padding: 10px;
  }
}
header[role='banner'] .logo-header {
  display: block;
  width: 231px;
}
@media (max-width: 480px) {
  header[role='banner'] .logo-header {
    width: 120px;
  }
}
.phone-block a {
  font-size: 25px;
}
.phone-block a span {
  font-size: inherit;
  color: #d53b3b;
}
.phone-block > span {
  display: block;
  color: #334247;
  margin: 5px 0 0 0;
}
nav ul {
  font-size: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 20px 20px 60px;
  line-height: 1;
  font-weight: 700;
  font-size: 17px;
  background: transparent;
}
nav ul li a.active {
  cursor: not-allowed;
}
nav ul li a.active,
nav ul li a:hover {
  background: #f7f7f7;
}
header[role='banner'].narrow .wrapper-inner {
  padding: 10px 0 0 0;
}
header[role='banner'].narrow nav ul li a {
  padding: 20px 20px 30px;
}
.mobile-nav {
  display: none;
}
@media (max-width: 1260px) {
  .mobile-nav {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    display: block;
    width: 100%;
    height: calc(100vh - 76px);
    background: #fff;
    position: fixed;
    left: 0;
    top: 150%;
    z-index: 1001;
    overflow: auto;
    border-top: 1px solid #777;
    padding: 40px 25px;
  }
  .mobile-nav.active {
    top: 76px;
  }
}
@media (max-width: 1260px) and (max-width: 480px) {
  .mobile-nav {
    height: calc(100vh - 58px);
  }
  .mobile-nav.active {
    top: 58px;
  }
}
.mobile-nav nav ul {
  display: block;
  margin: 25px 0;
}
.mobile-nav nav ul li {
  display: block;
}
.mobile-nav nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
}
.mobile-nav nav ul li a:hover,
.mobile-nav nav ul li a.active {
  padding: 10px 0;
}
.mobile-nav nav ul li:last-child a {
  border-bottom: none;
}
.mobile-nav .phone-block {
  width: 100%;
  text-align: center;
}
.burger {
  display: none;
}
@media (max-width: 1260px) {
  .burger {
    display: block;
    width: 30px;
    height: 23px;
    cursor: pointer;
    background: transparent;
    position: relative;
  }
}
.burger .burger-top,
.burger .burger-center,
.burger .burger-bottom {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  margin: auto;
  position: absolute;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  left: 0;
}
.burger .burger-top {
  top: 0;
}
.burger .burger-bottom {
  bottom: 0;
}
.burger .burger-center {
  top: 0;
  bottom: 0;
}
.burger.active .burger-top {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  background: #000;
}
.burger.active .burger-center {
  opacity: 0;
  left: -15px;
  background: #000;
}
.burger.active .burger-bottom {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  background: #000;
}
/***********************************************************************************************************************
*********** footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  display: block;
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer[role='contentinfo'] .wrapper-inner:after {
  display: none;
}
@media (max-width: 1260px) {
  footer[role='contentinfo'] .wrapper-inner {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  footer[role='contentinfo'] .wrapper-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .wrapper-inner {
    padding: 0 10px;
  }
}
footer[role='contentinfo']:before {
  content: '';
  width: 100%;
  height: 10px;
  background: url(../source/images/background-footer.png) repeat-x 0 0;
  position: absolute;
  left: 0;
  top: -10px;
}
footer[role='contentinfo'] .logo-footer a {
  display: inline-block;
  vertical-align: middle;
  width: 41px;
  height: 36px;
  overflow: hidden;
  margin: 0 10px 0 0;
}
footer[role='contentinfo'] .logo-footer a img {
  height: 100%;
  width: auto;
}
footer[role='contentinfo'] .logo-footer span {
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 768px) {
  footer[role='contentinfo'] .logo-footer {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
/***********************************************************************************************************************
*********** counter-block
***********************************************************************************************************************/
.counter-block {
  text-align: center;
  justify-content: center;
  margin: 0 auto 25px;
  position: relative;
}
.counter-block .title {
  font-size: 20px;
  color: #e24343;
  font-weight: 600;
  text-transform: uppercase;
}
.counter-block .countdown {
  display: inline-flex;
  justify-content: center;
  width: auto;
  border: 1px solid #7f8794;
  border-radius: 10px;
  padding: 20px 35px 40px;
}
.counter-block .flip-clock-divider .flip-clock-label {
  bottom: -1.5em;
  top: auto;
  right: -57px;
  color: #95bdcc;
  text-transform: uppercase;
}
.counter-block .flip-clock-divider.days .flip-clock-label {
  right: -55px;
}
.counter-block .flip-clock-wrapper ul {
  margin: 3px;
  width: 30px;
  height: 45px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 37px;
  font-weight: 300;
  line-height: 45px;
  background: #000;
}
.counter-block .flip-clock-wrapper ul li a div.up:after {
  top: 22px;
  height: 2px;
}
.counter-block .flip-clock-wrapper ul li a div {
  font-size: 37px;
}
.counter-block .flip-clock-wrapper ul li a div div.inn {
  font-size: 37px;
}
.counter-block .flip-clock-divider {
  height: 55px;
  width: 10px;
}
.counter-block .flip-clock-dot {
  display: none;
}
@media (max-width: 480px) {
  .counter-block .title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .counter-block .countdown {
    border-radius: 7px;
    padding: 10px 15px 25px;
    margin: 0;
  }
  .counter-block .flip-clock-divider .flip-clock-label {
    right: -53px;
  }
  .counter-block .flip-clock-divider.days .flip-clock-label {
    right: -48px;
  }
  .counter-block .flip-clock-wrapper ul {
    margin: 3px;
    width: 24px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
  }
  .counter-block .flip-clock-wrapper ul li a div.up:after {
    top: 17px;
    height: 2px;
  }
  .counter-block .flip-clock-wrapper ul li a div {
    font-size: 24px;
    line-height: 36px;
  }
  .counter-block .flip-clock-wrapper ul li a div div.inn {
    font-size: 24px;
    line-height: 36px;
  }
  .counter-block .flip-clock-divider {
    height: 45px;
    width: 7px;
  }
}
/***********************************************************************************************************************
*********** top-block
***********************************************************************************************************************/
.top-block {
  text-align: center;
}
.top-block h1 span {
  display: block;
  font-size: 20px;
  margin: 25px 0 30px 0;
  text-transform: uppercase;
  color: inherit;
}
@media (max-width: 768px) {
  .top-block h1 span {
    font-size: 16px;
  }
}
.top-block .button-red,
.top-block .button-black {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
/***********************************************************************************************************************
*********** prize-block
***********************************************************************************************************************/
.prize-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0 50px 0;
}
@media (max-width: 768px) {
  .prize-block {
    display: block;
  }
}
.prize-block .prize-money {
  height: 362px;
  position: relative;
}
.prize-block .prize-money img {
  height: 100%;
  width: auto;
}
.prize-block .prize-money span:first-of-type {
  display: block;
  background: #000;
  position: absolute;
  right: 0;
  bottom: 75px;
  color: #fff;
  font-size: 27px;
  line-height: 1;
  text-transform: uppercase;
  padding: 10px 25px 8px;
}
.prize-block .prize-money span:last-of-type {
  display: block;
  width: 100%;
  height: 75px;
  background: url(../source/images/background-price.jpg) no-repeat center;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 47px;
  line-height: 75px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 768px) {
  .prize-block .prize-money {
    height: auto;
  }
  .prize-block .prize-money img {
    display: none;
  }
  .prize-block .prize-money span:first-of-type {
    position: static;
    text-align: center;
  }
  .prize-block .prize-money span:last-of-type {
    position: static;
    background: #e24343;
    text-align: center;
    font-size: 36px;
  }
}
.prize-block .prize-gift {
  height: 362px;
  position: relative;
}
.prize-block .prize-gift img {
  height: 100%;
  width: auto;
}
.prize-block .prize-gift .text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 280px;
  height: 120px;
  background: #495563;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 0 35px;
  color: #fff;
}
.prize-block .prize-gift .text span:first-of-type {
  color: inherit;
  font-size: 15px;
  margin: 0 0 5px;
  line-height: 1.4;
}
.prize-block .prize-gift .text span:last-of-type {
  display: block;
  width: 100%;
  font-size: 20px;
  color: inherit;
  font-weight: 600;
}
@media (max-width: 768px) {
  .prize-block .prize-gift {
    background: #fff;
  }
  .prize-block .prize-gift img {
    margin: 0 auto;
  }
  .prize-block .prize-gift .text {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .prize-block .prize-gift img {
    max-width: 280px;
    height: auto;
  }
}
/***********************************************************************************************************************
*********** advantages
***********************************************************************************************************************/
.advantages {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  text-align: center;
}
.advantages li {
  display: block;
  width: 364px;
  height: 406px;
  background: url(../source/images/scroll.png) no-repeat;
  background-size: cover;
  padding: 160px 46px 75px;
}
.advantages li .tagline {
  position: relative;
}
.advantages li .tagline:before {
  content: '';
  display: block;
  width: 85px;
  height: 80px;
  position: absolute;
  top: -73px;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../source/images/sprite.png) no-repeat 0 0;
  background-size: cover;
}
.advantages li .tagline span {
  display: inline-block;
  padding: 8px 20px 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin: 0 10px;
  position: relative;
  z-index: 1;
}
.advantages li .tagline span:first-of-type {
  background: #d63b3b;
}
.advantages li .tagline span:last-of-type {
  background: #000;
}
.advantages li p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  margin: 15px 0 0 0;
}
.advantages li:nth-child(2) .tagline:before {
  background-position: -85px 0;
  background-size: cover;
}
.advantages li:nth-child(3) .tagline:before {
  background-position: -170px 0;
  background-size: cover;
}
@media (max-width: 1260px) {
  .advantages {
    display: block;
  }
  .advantages li {
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 335px;
    padding: 115px 40px 75px;
  }
  .advantages li .tagline:before {
    width: 65px;
    height: 62px;
    top: -58px;
  }
  .advantages li .tagline span {
    padding: 6px 15px 8px;
    font-size: 16px;
  }
  .advantages li p {
    font-size: 12px;
  }
  .advantages li:nth-child(2) .tagline:before {
    background-position: -65px 0;
    background-size: cover;
  }
  .advantages li:nth-child(3) .tagline:before {
    background-position: -130px 0;
    background-size: cover;
  }
}
/***********************************************************************************************************************
*********** promo-block
***********************************************************************************************************************/
.promo-block {
  padding: 40px 0 0;
}
.promo-block h2 {
  text-align: center;
  font-weight: 600;
  font-size: 27px;
  color: #db3232;
  margin: 0 0 20px;
}
.promo-block p {
  color: #fff;
  line-height: 2;
  font-size: 15px;
}
.promo-block p span {
  font-weight: 700;
}
@media (max-width: 1260px) {
  .promo-block {
    padding: 40px 20px 0;
  }
}
/***********************************************************************************************************************
*********** faq-page
***********************************************************************************************************************/
.faq-page main {
  padding: 0;
}
.faq-page main .wrapper-inner {
  height: 100%;
  border-top: 7px solid #d43b3b;
  background: rgba(0, 0, 0, 0.57);
}
.faq-page h1 {
  display: block;
  background: #000;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  padding: 18px 0 20px;
}
.faq-page .faq-list {
  display: block;
  margin: 20px 0 140px;
  padding: 0 50px;
}
.faq-page .faq-list .question {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.faq-page .faq-list .answer {
  font-size: 15px;
  color: #fff;
  line-height: 26px;
  margin: 15px 0 25px;
}
.faq-page .faq-list .answer a {
  text-decoration: underline;
  color: #e93939;
  font-size: 15px;
}
.faq-page .faq-list .answer a:hover {
  text-decoration: none;
}
@media (max-width: 768px) {
  .faq-page .faq-list {
    padding: 0 25px;
  }
}
